@use "../../global" as *;
@use "../../partials" as *;
.chefcard {
  background-color: $testimonial-bg;
  padding-bottom: size(20);
  @include radius(8);
  box-shadow: 0px 4px 12px 8px rgba(226, 246, 255, 0.5);

  .chefthumb {
    position: relative;
    height: size(360);
    max-height: size(264);
    overflow: hidden;
    @include radius(8);
    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 2;
      display: block;
      content: "";
      width: 0;
      height: 0;
      background: rgba(255, 255, 255, 0.2);
      border-radius: 100%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      opacity: 0;
    }
    img {
      @include wh100;
    }
  }
  .chefthumb:hover::before {
    -webkit-animation: circle 0.75s;
    animation: circle 0.75s;
  }
  .content {
    padding-top: size(20);
    padding-right: size(20);
    padding-left: size(20);
    padding-bottom: size(20);
  }
  .title {
    color: $primary;
    letter-spacing: 0.24px;
    text-align: center;
    @include font($eczar, 24, semibold, normal, 32);
  }
  .designation {
    color: $section-top-des;
    text-align: center;
    @include font($nunito, 16, normal, normal, 22);
  }
  .des {
    color: $section-top-des;
    text-align: center;
    @include font($nunito, 16, normal, normal, 20);
  }
}
.cardcorevaleu {
  border-radius: 16px;
  @include border(solid, 1, #f1f1f1);
  background: linear-gradient(
    97deg,
    rgba(255, 255, 255, 0.95) 1.12%,
    #fff 98.93%
  );
  padding: size(20);
  @include transitiontransform;
  @include flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  @include hover {
    transform: translateY(-8px);
    .icon {
      margin-bottom: size(16);
      animation: rotateIcon 1s 2 linear; /* Rotate twice */
    }
    @keyframes rotateIcon {
      0% {
        transform: rotate(0deg); /* Start rotation from 0 degrees */
      }
      50% {
        transform: rotate(180deg); /* Rotate halfway to 180 degrees */
      }
      100% {
        transform: rotate(360deg); /* Rotate to 360 degrees */
      }
    }
  }
  .icon {
    margin-bottom: size(16);
  }
  .title {
    font-family: Inter;
    font-size: size(21);
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    color: #19191a;
    @include breakpoint(tab992) {
      font-size: size(18);
    }
    @include breakpoint(desktop1400) {
      font-size: size(21);
    }
  }
  .des {
    color: #5b5b5f;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
  }
  @include breakpoint(mobile768) {
    text-align: left;
    align-items: flex-start;
  }
}


@-webkit-keyframes circle {
  0% {
    opacity: 1;
  }

  40% {
    opacity: 1;
  }

  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}

@keyframes circle {
  0% {
    opacity: 1;
  }

  40% {
    opacity: 1;
  }

  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}

.eventbox {
  margin-top: size(80);
  @include flex-column;
  text-align: center;
  align-items: center;
  padding-inline: size(50);
  @include breakpoint(tab992) {
    text-align: left;
    align-items: flex-start;
    padding-inline: size(30);
  }

  &-title {
    color: $primary;
    letter-spacing: 0.28px;
    @include font($eczar, 28, semibold, normal, 36);
  }
  &-text {
    color: $section-top-des;
    @include font($nunito, 18, medium, normal, 24);
    margin-top: size(10);
  }
  &-btn {
    @include border(solid, 1, $primary);

    padding: size(10) size(26);
    @include radius(6);
    color: $primary;
    color: #0c8040;

    text-align: center;
    -webkit-text-stroke-width: 1;
    -webkit-text-stroke-color: #fff;
    @include font($nunito, 18, semibold, normal, 24);
    margin-top: size(30);
    &.reverse {
      background-color: $primary;
      color: $white; 
      @include hover {
        color: $primary;
        background-color: $white;
      }
    }
    &:hover {
      background-color: $primary;
      color: $white;
    }
  }
}

.package-card {
  @include flex-column;
  gap: size(10);
  padding: size(20);
  @include transitionsall;

  @include radius(16);
  .card-top {
    @include flex-between;
    align-items: center;
  }
  .features {
    @include list-vertical;
    gap: size(20);
    margin-top: size(40);
    li {
      @include flex;
      gap: size(10);
      align-items: center;
      color: #040415;
      @include font($nunito, 16, normal, normal, 20);
      @include transitionsall;
      svg {
        path {
          @include transitionsall;
        }
      }
    }
  }
  .title {
    color: #040415;
    @include font($montserrat, 28, medium, normal, 28);
    @include transitionsall;
  }
  @include hover {
    background: $primary;
    color: $white;
    .title {
      color: $white;
    }

    .features {
      li {
        color: $white;
        svg {
          path {
            fill: $white;
          }
        }
      }
    }
    .price {
      color: $white;
    }
    .btn-subscribe {
      background: $white;
      color: rgba(4, 4, 21, 0.8);
    }
  }
  .price {
    color: #040415;
    text-align: right;
    @include transitionsall;
    @include font($nunito, 16, normal, normal, 16);
  }
  .btn-subscribe {
    margin-top: size(30);
    @include breakpoint(mobile576) {
      margin-top: size(70);
    }
    background: $primary;
    color: $white;
    width: 80%;
    margin: auto;
    padding: size(12) size(8);
    @include radius(8);
    @include transitionsall;
    @include font($montserrat, 18, semibold, normal, 20);
  }
}

.singlechoose {
  padding-block: size(20);
  @include flex;
  align-items: flex-start;
  gap: size(30);
  @include transitionsall;
  @include hover {
    transform: translateX(10px);
    .chooseusthumb {
      img {
        transform: scale(0.9);
      }
    }
  }

  .circle {
    @include border(solid, 1, $primary);
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    @include square(73);
    @include flex-center;
    flex-shrink: 0;
  }
  .chooseusthumb {
    @include square(45);
    img {
      @include transitionsall;
      @include wh100;
    }
  }
  .right {
    @include border-single(bottom, solid, 2, #d8d0c7);
    padding-bottom: size(22);
    @include flex-column;
    gap: size(5);
    .title {
      color: #303030;
      font-family: Eczar;
      font-size: 28px;
      font-style: normal;
      font-weight: 500;
      line-height: 40px;
      text-transform: capitalize;
      @include font($eczar, 28, medium, normal, 40);
    }
    .des {
      color: rgba(75, 66, 62, 0.7);
      @include font($nunito, 18, medium, normal, 26);
    }
  }
}
.counter {
padding: size(100) size(0);
}
.counter-box {

@include flex-column;
gap: size(10);
text-align: center;
h3 {
color: $primary;
@include font($eczar, 36, semibold, normal, 44);
}
p {
  color: #686873;
  @include font($eczar, 22, medium, normal, 44);

}

}
.blog-card {
  @include flex-column;
  gap: size(20);
  align-items: flex-start;
  @include transitionsall;

  @include hover {
    transform: translateY(-8px);
  }

  .blog-thumb {
    overflow: hidden;
    @include w100;
    img {
      @include wh100;
      object-fit: cover;
    }
  }

  .blog-title {
    color: $primary;
    font-family: Eczar;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
  }
  .des {
    color: #575757;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
  .btn-blog {
  }
}

