@use "../../global" as *;
@use "../../partials" as *;
.chefcard {
    background-color: $testimonial-bg;
    padding-bottom: size(20);
    .chefthumb {
        img {

        }
    } 
    .content {
        padding-top: size(20);
        padding-right: size(20);
        padding-left: size(20);
        padding-bottom: size(20);
    }
    .title {
        color: $primary
        letter-spacing:0.24px;
        text-align: center;
        @include font($eczar,24,semibold,normal,32);
    }
    .designation {
        color: #646466;
        font-family: Nunito;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;
    }
    .des {
    color: #646464;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: size(20);
    }
}

