@use "../global" as *;
@use "../partials" as *;

.about_sec {
  margin-top: size(50);
  @include flex-column;
  @include flex-center;
  text-align: center;
  @include breakpoint(tab992) {
    @include flex-center-vert;
    @include flex-row;
    margin-top: size(90);
    text-align: start;
  }
  .title {
    @include font($eczar, 30, semibold, normal, 45);
    @include breakpoint(mobile576) {
      @include font($eczar, 40, semibold, normal, 52);
    }
    color: $primary;
    margin-bottom: size(24);
  }
  .des {
    color: $section-top-des;
    @include font($nunito, 18, medium, normal, 24);
    margin-bottom: size(18);
  }
}

.about_sec > * {
  flex: 1;
}
.watch_btn_container {
  display: flex;
  justify-content: center;
}
.watch_btn {
  @include flex-center;
  gap: 19px;
  margin-top: size(50);
  // margin-left: 17rem;
  text-align: center;
  // padding-right: size(24);

  position: relative;

  &::after {
    content: "";
    position: absolute;
    display: block;
    top: -12px;
    left: -31px;
    width: 79px;
    height: 73px;
    border: 2px solid #fae392;
    z-index: -1;
    @include radius(8);
  }
}
