@use "../global" as *;
@use "../partials" as *;

.blog {
  padding: 100px 0;
  .section-top {
    padding-bottom: size(120);
  }
  .right-content {
    @include flex-column;
    align-items: flex-start;
    gap: size(10);
    .search-wrapper {
      @include flex-column;
      gap: size(10);
      input {
        border-radius: 10px;
        background: rgba(239, 255, 246, 0.51);
        border: 1px solid transparent;
        padding: size(30);
        @include transitionsall;
        &:focus {
          border-color:   rgb(144, 202, 169); 
        }
      }
    }
    .search-title {
      color: #0C8040;
      font-family: Eczar;
      font-size: 28px;
      font-style: normal;
      font-weight: 600;
      line-height: 30px; 
          }
    .icon {
      align-self: flex-end;
    }

    .recent-blog {
      .recentblog-title {
        color: #0C8040;
        font-family: Eczar;
        font-size: 28px;
        font-style: normal;
        font-weight: 600;
        line-height: 30px; /* 107.143% */
      }
    }
  }
}

.blog-posts {
  @include flex-column;
  .blog-post {
    @include flex;
    gap: size(20);
    padding: size(20) size(0);
    border-bottom: 1px solid #ddd;
    @include hover {
      transform: translateX(8px);
    }

    figure {
      @include square(90);
      overflow: hidden;
      flex-shrink: 0;

      img {
        @include wh100;
        object-fit: cover;
      }
    }
    .right {
      @include flex-column;
      justify-content: space-between;
      padding: size(10) size(0);
    }
    .title {
      color: #111;
      font-family: Eczar;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 22px;
    }
    .date {
      @include flex;
      gap: size(10);
      color: #6a6a6a;
      font-family: Nunito;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}
