@use "../global" as *;
@use "../partials" as *;

.corporate-thumb {
  @include wh100;
  height: auto;
  img {
    @include wh100;
  }
}
.corporate-content-wrapper {
  position: relative;
  margin-bottom: 7rem;
  .corporate-info {
    background-color: #ffe69a;
    border-radius: 6px;
    padding: 60px;
    width: 80%;
    //   top: -100px;
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translate(-50%) !important;
    // left: 50%;
    // transform: translateX(-50%);
    @include flex-column;
    align-items: center;
    gap: size(40);
    // @include breakpoint(tab992) {
    //   margin-inline: 70px;
    // }
  }
}
