@use "../global" as *;
@use "../partials" as *;

.how_we_work_sec {
  background-color: $primary;
  color: #e5e5e5;
  padding-top: size(100);
  padding-bottom: size(100);
  background-image: url("../../assets/images/table.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;
  .how_we_work_container {
    max-width: 636px;
    .section_title {
      @include font($eczar, 40, 500, normal, 52);
    }
    .event_step_container {
      display: flex;
      flex-direction: column;
      gap: 50px;
      .event_step_card {
        display: flex;
        gap: 20px;
        height: fit-content;

        .icon {
          position: relative;
          // width: 10px;
          img {
            width: 30px;
          }
          &::after {
            content: "";
            display: block;
            height: 100%;
            width: 2px;
            background-color: #e5e5e5;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 2rem;
          }
        }
        .third {
          width: 44px !important;
        }
        .last {
          &::after {
            background: transparent;
          }
        }
        .step_title {
          @include font($eczar, 28, 600, normal, 39);
        }
        .step_des {
          @include font($nunito, 18, 500, normal, 27);
        }
      }
    }
  }
}

.event_video_sec {
  padding: size(106) 0;
  .video_container {
    position: relative;
    max-width: 782px;
    margin: auto;
    .video-main {
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: url("../../assets/images/event/event_image.png");
      background-repeat: no-repeat;
      background-color: rgba(27, 27, 27, 0.54);
      background-blend-mode: overlay;
      background-size: cover;
      background-position: center;
      height: 392px;
      .waves-block {
        position: relative;
        width: 150px;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        .waves {
          position: absolute;
          width: 150px;
          height: 150px;
          background: rgba(199, 186, 181, 1);
          opacity: 0;
          border-radius: 100%;
          z-index: -0;
          -webkit-animation: waves 3s ease-in-out infinite;
          animation: waves 3s ease-in-out infinite;
        }
        .wave-1 {
          -webkit-animation-delay: 0s;
          animation-delay: 0s;
        }

        .wave-2 {
          -webkit-animation-delay: 1s;
          animation-delay: 1s;
        }

        .wave-3 {
          -webkit-animation-delay: 2s;
          animation-delay: 2s;
        }
        @keyframes waves {
          0% {
            -webkit-transform: scale(0.2, 0.2);
            transform: scale(0.2, 0.2);
            opacity: 0;
          }
          50% {
            opacity: 0.9;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
          }
          100% {
            -webkit-transform: scale(0.9, 0.9);
            transform: scale(0.9, 0.9);
            opacity: 0;
          }
        }
        .video {
          height: 50px;
          width: 50px;
          text-align: center;
          border-radius: 100%;
          background: transparent;
          color: #fff;
          background: $primary;
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          // z-index: 999;
          .fa-play:before {
            content: "\f04b";
          }
        }
      }
    }
  }
}

.event_book_section {
  padding: size(100) 0;
  .event_form {
    row-gap: 1rem;
    max-width: 760px;
    margin: auto;
  }
}
