@use "../global" as *;
@use "../partials" as *;

.featured_sec {
  margin-top: size(40);
  position: relative;
  @include breakpoint(tab992) {
    margin-top: size(100);
  }
}

.featured-swiper {
  margin-top: size(110);
  .swiper-slide {
    display: flex;
    justify-content: center;
  }
}
.featured_card {
  background-color: $green-light;
  @include radius(48);
  padding-left: 33px;
  max-width: 300px;
  height: 296px;
  padding-right: 33px;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  // gap: size(35);
  box-shadow: 0px 4px 8px 0px rgba(11, 110, 105, 0.25);
  padding-bottom: size(10);
  .title {
    @include font($eczar, 28, 600, normal, 52);
    transform: translateY(-2rem);
    color: $primary;
  }
}

.featured_dish {
  width: size(198);
  aspect-ratio: 1/1;
  transform: translateY(-3rem);
}

.featured-swiper-next,
.featured-swiper-prev {
  @include circle;
  border: 2px solid $primary;
  width: size(50);
  height: size(50);
  color: black;
  position: absolute;
  top: 70%;
  z-index: 1000;
}
.featured-swiper-next {
  right: -1%;
}
.featured-swiper-prev {
  left: -1%;
}
