@use "../global" as *;
@use "../partials" as *;
// about section
.about_sec {
  margin-top: size(50);
  @include flex-column;
  @include flex-center;
  text-align: center;
  @include breakpoint(tab992) {
    @include flex-center-vert;
    @include flex-row;
    margin-top: size(90);
    text-align: start;
  }
  .title {
    @include font($eczar, 30, semibold, normal, 45);
    @include breakpoint(mobile576) {
      @include font($eczar, 40, semibold, normal, 52);
    }
    color: $primary;
    margin-bottom: size(24);
  }
  .des {
    color: $section-top-des;
    @include font($nunito, 18, medium, normal, 24);
    margin-bottom: size(18);
  }
}

.about_sec > * {
  flex: 1;
}
.watch_btn_container {
  display: flex;
  justify-content: center;
}
.watch_btn {
  @include flex-center;
  gap: 19px;
  margin-top: size(50);
  // margin-left: 17rem;
  text-align: center;
  // padding-right: size(24);

  position: relative;

  &::after {
    content: "";
    position: absolute;
    display: block;
    top: -12px;
    left: -31px;
    width: 79px;
    height: 73px;
    border: 2px solid #fae392;
    z-index: -1;
    @include radius(8);
  }
}

// featured section
.featured_sec {
  margin-top: size(50);
  position: relative;
  @include breakpoint(tab992) {
    margin-top: size(100);
  }
}

.featured-swiper {
  margin-top: size(40);
  @include breakpoint(tab992) {
    margin-top: size(90);
  }
  padding-bottom: size(10);
  .swiper-slide {
    display: flex;
    justify-content: center;
  }
}
.featured_card {
  background-color: $green-light;
  @include radius(48);
  padding-left: 33px;
  max-width: 300px;
  height: 296px;
  padding-right: 33px;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  // gap: size(35);
  box-shadow: 0px 4px 8px 0px rgba(11, 110, 105, 0.25);
  padding-bottom: size(10);
  .title {
    @include font($eczar, 28, 600, normal, 52);
    transform: translateY(-2rem);
    color: $primary;
    text-align: center;
  }
}

.featured_dish {
  width: size(198);
  aspect-ratio: 1/1;
  transform: translateY(-3rem);
}

.featured-swiper-next,
.featured-swiper-prev {
  @include circle;
  border: 2px solid $primary;
  width: size(40);
  height: size(40);
  @include breakpoint(mobile576) {
    width: size(50);
    height: size(50);
  }
  color: black;
  position: absolute;
  top: 60%;
  z-index: 1;
}
.featured-swiper-next {
  right: 1%;
  @include breakpoint(mobile768) {
    right: -2%;
  }
  @include breakpoint(desktop1200) {
    right: -4%;
  }
}
.featured-swiper-prev {
  left: 1%;
  @include breakpoint(mobile768) {
    left: -2%;
  }
  @include breakpoint(desktop1200) {
    left: -4%;
  }
}
.featured_dish_action {
  text-align: center;
  margin-top: size(60);
  margin-bottom: size(60);
}
// how we work section
@use "../global" as *;
@use "../partials" as *;

.how_work_sec {
  background-color: $green-light;
  @include breakpoint(desktop1100) {
    background-image: url("../../assets/images/home/food.png");
    background-repeat: no-repeat;
    background-position: top right;
  }
  .section_body {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 3rem;
    max-width: 375px;
    .step_card {
      width: 147px;
      aspect-ratio: 1;
      background-color: $yellow;
      @include circle;
      text-overflow: clip;
      // text-align: center;
      padding-left: size(35);
      position: relative;
      figure {
        transform: translateY(-1rem);
      }

      .step {
        @include font($eczar, 24, 600, normal, 32);
        color: $primary;
      }
      .step_des {
        width: 316px;
      }
      .step_plan {
        font-size: 1.3rem;
        margin-left: -1.4rem;
      }
    }

    & > :not(:last-child) {
      &::after {
        content: "";
        position: absolute;
        top: 0;
        display: inline-block;
        width: 192px;
        aspect-ratio: 1;
        border: 1px solid transparent;
        border-top: 1px solid #1a5d1a;
        // border-left: 1px solid #1a5d1a;
        @include circle;
      }
    }

    & > :nth-child(even) {
      align-self: end;
      // direction: rtl;
      text-align: left;
      padding-right: 1rem;
      &::after {
        transform: rotate(142deg);
        left: -8rem;
        top: 3rem;
      }
      figure {
        margin-right: 2.5rem;
      }
    }

    :nth-child(odd) {
      &::after {
        transform: rotate(229deg);
        left: 105px;
        top: 4rem;
      }
    }
  }
}

.whychoose {
  padding: size(40) size(0);
  @include breakpoint(mobile576) {
    padding: size(60) size(0);
  }
  @include breakpoint(tab992) {
    padding: size(90) size(0);
  }
  .image-wrapper {
    @include flex;
    align-items: flex-start;
    gap: size(10);
    margin-top: size(60);
    figure {
      flex-grow: 1;
      overflow: hidden;
      flex-basis: 50%;
      height: size(400);
      img {
        height: 100%;
      }
    }
    figure:nth-child(2n) {
      margin-top: 200px; /* Adjust the value as needed */
    }
  }
}
.pricing {
  background: #f8fffb;
  padding: size(40) size(0);
  @include breakpoint(mobile576) {
    padding: size(60) size(0);
  }
  @include breakpoint(tab992) {
    padding: size(90) size(0);
  }
}
.testimonial {
  padding: size(40) size(0);
  @include breakpoint(mobile576) {
    padding: size(60) size(0);
  }
  @include breakpoint(tab992) {
    padding: size(90) size(0);
  }

  .single-testimonial {
    @include flex-column;
    gap: size(20);
    align-items: flex-start;
    padding: size(50) size(0);
    padding-bottom: size(0);
    .profile-info {
      @include flex;
      gap: size(20);
      .testimonial-thumb {
        @include square(60);
        overflow: hidden;
        @include radius(60);
      }

      img {
        @include wh100;
      }
    }
    .text {
      color: rgba(4, 4, 21, 0.6);
      @include font($nunito, 20, medium, normal, 34);
    }
    .name {
      color: rgba(4, 4, 21, 0.8);
      @include font($nunito, 24, semibold, normal, 34);
    }
    .designation {
      color: rgba(92, 92, 93, 0.8);
      @include font($nunito, 16, semibold, normal, 22);
      margin-bottom: size(30);
    }
  }
}
.joinus {
  background: linear-gradient(
      101deg,
      rgba(5, 44, 5, 0.62) 41.04%,
      rgba(27, 87, 27, 0.65) 65.41%,
      rgba(232, 184, 15, 0.65) 94.42%
    ),
    url("../../assets/images/home/jounus.png");
  background-size: cover;
  background-position: center;
  padding: size(30) size(0);

  .joinus-inner {
    @include border(solid, 6, #f9dd74);
    @include radius(8);
    padding: size(50);
    color: $white;
    @include flex-column;
    text-align: center;
    align-items: center;
    gap: size(28);
  }
}
.event {
  padding: size(40) size(0);
  @include breakpoint(mobile576) {
    padding: size(60) size(0);
  }
  @include breakpoint(tab992) {
    padding: size(90) size(0);
  }
  .eventimg {
    border-radius: 390px 390px 0px 0px;
    overflow: hidden;
    height: 100%;
    min-height: size(600);
    @include breakpoint(tab992) {
      min-height: auto;
    }
    img {
      @include wh100;
    }
  }
}

.ourchefs {
  padding: size(40) size(0);
  @include breakpoint(mobile576) {
    padding: size(60) size(0);
  }
  @include breakpoint(tab992) {
    padding: size(90) size(0);
  }
}
.swiper {
  width: 100%;
  height: 100%;
}
span.swiper-pagination-bullet {
  transition: all 0.3s ease;
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: $primary;
  opacity: 1;
  width: size(40);
  height: size(11);
  @include radius(20);
}

.swiper-pagination-bullet {
  background-color: #fbd85d;
  opacity: 1;
  @include square(11);
}
