@use "../global" as *;
@use "../partials" as *;

.how_work_sec {
  background-color: $green-light;
  @include breakpoint(desktop1100) {
    background-image: url("../../assets/images/home/food.png");
    background-repeat: no-repeat;
    background-position: top right;
  }
  .section_body {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    .step_card {
      width: 147px;
      aspect-ratio: 1;
      background-color: $yellow;
      @include circle;
      text-overflow: clip;
      // text-align: center;
      padding-left: size(35);
      position: relative;
      figure {
        transform: translateY(-1rem);
      }

      .step {
        @include font($eczar, 24, 600, normal, 32);
        color: $primary;
      }
      .step_des {
        width: 316px;
      }
      .step_plan {
        font-size: 1.3rem;
        margin-left: -1.4rem;
      }
    }

    & > :not(:last-child) {
      &::after {
        content: "";
        position: absolute;
        top: 0;
        display: inline-block;
        width: 192px;
        aspect-ratio: 1;
        border: 1px solid transparent;
        border-top: 1px solid #1a5d1a;
        // border-left: 1px solid #1a5d1a;
        @include circle;
      }
    }

    :nth-child(even) {
      align-self: end;
      direction: rtl;
      &::after {
        transform: rotate(142deg);
        left: -8rem;
        top: 3rem;
      }
    }

    :nth-child(odd) {
      &::after {
        transform: rotate(229deg);
        left: 105px;
        top: 4rem;
      }
    }
  }
}
