@use "../global" as *;
@use "../partials" as *;

.banner {
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url("../../assets/images/menu/background-menu.jpg");
  background-blend-mode: overlay;
  clip-path: path(
    "M1524 528.824V-20H1043.22H691.147H321.069H-3V475.23C160.142 545.137 322.791 659.765 681.736 559.824C1017.21 466.418 1198.73 635.606 1440 559.824Z"
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height: 688px;
  .wrapper {
    @include flex-center;
    height: 619px;
    color: $white;
    .banner-content {
      max-width: 692px;
      text-align: center;
      .hero-title {
        @include font($eczar, 52, 700, normal, 72);
        color: #fff;
      }
      .hero-des {
        @include font($nunito, 16, 500, normal, 24);
        color: #f1f0f0;
      }
    }
  }
  
}

.menu-section {
  position: relative;
  .menu-tab {
    margin: auto;
    // justify-content: space-between;
    border: 1px solid $primary;
    border-radius: 8px;
    padding: 4px;
    li {
      flex: 1;
      button {
        color: $primary;
        width: 100%;
        svg {
          width: 14px;
        }
      }
      button.active {
        color: #fff;
        background-color: $primary;
      }
    }
  }
  .section-header {
    max-width: 589px;
    margin: auto;
    .section-title {
      @include font($eczar, 48, bold, normal, 57);
      color: #02061a;
      font-size: clamp(28px, 6vw, 48px);
      text-align: center;
      margin-bottom: 24px;
    }
  }

  .section-body {
    margin-top: 40px;
    @include breakpoint(mobile576) {
      margin-top: 70px;
    }
    .menu-cat-wrapper {
      display: grid;
      // grid-template-columns: repeat(2, 1fr);
      gap: 38px;
      justify-content: center;
      @include breakpoint(tablet768) {
        grid-template-columns: repeat(2, 1fr);
      }
      @include breakpoint(desktop1024) {
        grid-template-columns: repeat(3, 1fr);
      }

      .card {
        background: rgba(255, 227, 227, 0.33);
        max-width: 367px;
        position: relative;
        .card-title {
          color: #303030;
          @include font($eczar, 20, 600, normal, 46);
          margin-bottom: 0 !important;
        }
        .card-text {
          @include font($nunito, 16, 400, normal, 24);
          color: #505050;
        }
        .review-price {
          @include flex-between;
          .price {
            color: #0c8040;
            @include font($montserrat, 24, 600, normal, normal);
          }
          .stars {
            display: flex;
            gap: 4px;
          }
        }
        .discount-wrapper {
          position: absolute;
          top: 1rem;
          @include flex-between;
          width: 100%;
          padding: 0px 10px;
          .hart-btn {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: #fff;
          }
          .discount {
            background-color: #2a2821;
            color: #fff;
            @include flex-center;
            @include font($montserrat, 20, 600, normal, normal);
            padding: 0px 10px;
            border-radius: 4px;
          }
        }
        .add-cart-btn {
          @include flex-center;
          gap: 4px;
          color: #808082;
          font-family: Montserrat;
          font-weight: 500;
          font-size: 16px;
          display: flex;
          left: 20px;
          bottom: 26px;
          max-width: 313px;
          height: 43px;
          padding: 12px;
          border: 0.25px solid #c4e9d4;
          align-items: center;
          gap: 8px;
          margin-top: 1rem;
          @include hover {
            background-color: $primary;
            color: white;
          }
        }
      }
    }
    .menu-tab {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      // top: 25%;
      top: 196px;
    }
  }
}
