@use "../../global" as *;
@use "../../partials" as *;

.contact_us_sec {
  padding-top: size(100);
  padding-bottom: size(50);
  background: rgba(12, 128, 64, 0.02);
  .contact_us_container {
    @include flex-center;
    flex-direction: column-reverse;
    gap: 50px;
    @include breakpoint(tab992) {
      flex-direction: row;
      gap: 200px;
    }
  }
  .under_line {
    width: 150px;
  }
}

.contact_us_container > *,
.contact_info_container > * {
  flex: 1;
}

.contact_info_sec {
  padding: size(60) 0;
  @include breakpoint(tab992) {
    padding-top: size(110) 0;
  }

  .contact_info_container {
    display: flex;
    flex-direction: column;
    @include breakpoint(tab992) {
      flex-direction: row;
    }

    gap: 80px;
    padding-top: 50px;
    .contact_form {
      row-gap: 35px;
      margin-top: 35px;
      #message {
        resize: vertical;
      }
    }
  }
  .contact_details {
    .contact_header {
      padding-bottom: size(23);
      .title {
        @include font($eczar, 26, 500, normal, 72);
        color: $primary;
        @include breakpoint(mobile576) {
          @include font($eczar, 36, 500, normal, 72);
          color: $primary;
        }
      }
      .des {
        @include font($nunito, 18, 400, normal, 26);
        color: rgba(4, 4, 21, 0.6);
      }
    }
    .contact_body {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .title {
        @include font($montserrat, 16, 500, normal, 28);
        margin-bottom: 20px;
      }
      p {
        @include font($nunito, 20, 400, normal, 28);
      }
      .divider {
        background: #232833;
        height: 0.6px;
        width: 344px;
        margin-top: 8px;
      }
    }
  }
}
