@use "../../global" as *;
@use "../../partials" as *;

.contact_us_sec {
  padding-top: size(100);
  padding-bottom: size(50);
  background: rgba(12, 128, 64, 0.02);
}
.contact_us_container {
  @include flex-center;
  flex-direction: column-reverse;
  gap: 50px;
  @include breakpoint(tab992) {
    flex-direction: row;
    gap: 200px;
  }
}

.contact_us_container > div {
  flex: 1;
}
.under_line {
  width: 150px;
}
