.up-btn {
  width: 5rem;
  height: 5rem;
  right: 2.25rem;
  bottom: 8.25rem;
  opacity: .7;
  background: hsl(147, 83%, 27%);
  cursor: pointer;
  position: fixed;
  z-index: 2000;
  transition: all .4s ease-in-out;
  padding: .875rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1);
}

.up-btn.up-btn__hide {
  opacity: 0;
  transform: scale(0);
  transition: all .4s ease-in-out;
}

.up-btn:hover {
  opacity: 1;
}

.up-btn.up-btn_circle {
  border-radius: 50%;
}

.up-btn__img {
  width: 100%;
  max-width: 100%;
}