@use "../../global" as *;
@use "../../partials" as *;

.nav-link {
  color: #808082 !important;
  position: relative;
  padding: 3px 0 !important;
  margin: 4px 10px;
  transition: 0.3s;
  display: inline-block !important;
  &::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: $primary;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.3s ease-in-out;
  }
  &:hover {
    color: $primary !important;
  }
  &:hover::after {
    width: 100%;
  }
}

.offcanvas {
  min-height: 0 !important;
}

.active {
  color: $primary !important;
  &::after {
    width: 100% !important;
  }
}

.hero {
  @include flex-center;
  justify-content: space-between;
  align-items: start;
  margin-top: size(120);
  @include breakpoint(tab992) {
    & {
      align-items: center;
    }
  }
}

.hero-swiper {
  width: 100%;
  @include radius(26);
  overflow: hidden;
  img {
    @include radius(26);
    width: 100%;
    max-height: 348px;
  }
}
.hero_action_btn {
  text-align: center;
}
.login_btn {
  @include font($nunito, 16, 600, normal, 24);
  letter-spacing: 0.24px;
  color: $primary;
  padding-right: 18px;
}
.live_btn {
  @include circle;
  border: 2px solid $primary;
  width: 60px;
  aspect-ratio: 1/1;
  position: relative;
  margin-left: 25px;
  &::after {
    content: "Live kitchen";
    display: inline-block;
    color: $primary;
    position: absolute;
    left: 80%;
    width: max-content;
    background-color: white;
    @include font($inter, 12, 400, normal, 20);
  }
  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%);
    background-color: $primary;
    width: 10px;
    aspect-ratio: 1;
    @include circle;
    animation: blinking 2s ease-in-out infinite;
  }
}
@keyframes blinking {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.swiper-hero-prev,
.swiper-hero-next {
  background-color: $yellow-light;
  width: 24px;
  height: 63px;
}
